# 3d Lennard-Jones fluid
# Setting are similar to http://www.cstl.nist.gov/srs/LJ_PURE/md.htm
# The only difference is that there are more particles

# Setting a 3D periodic system with lj units
units lj
dimension 3
atom_style atomic
boundary p p p

# Create the lattice on which initial atoms will be placed
lattice sc {rho}
region box_region block 0 {side} 0 {side} 0 {side}

# Create box for 1 species from above region
create_box 1 box_region 
create_atoms 1 box

# Define mass of particles of type 1 as 1
mass 1 1.0

# Generate random initial velocities
velocity all create {temp} {seed}

# Define Lennard-Jones interactions
pair_style lj/cut 3.
pair_coeff 1 1 1.0 1.0 3.
pair_modify tail yes

# Setup neighbor list parameters
neighbor 0.3 bin
neigh_modify every 1 delay 1 check yes

# Use velocity rescaling algorithm for temperature {temp}
fix nve all nve
fix resc all temp/rescale 200 {temp} {temp} 0.10 0.9

# Define thermodynamics output
thermo_style custom step time temp ke evdwl press vol density
thermo 100

# Run without collecting trajectory data
run 10000

unfix resc
fix resc all temp/rescale 500 {temp} {temp} 0.05 0.8
run 10000
unfix resc
fix resc all temp/rescale 500 {temp} {temp} 0.05 0.7
run 40000

# Remove the thermostat
unfix resc

# Enable the collection of trajectory data
dump hd1 all h5md 100 dump_3d.h5 position velocity force every 3
write_dump all h5md dump_3d.h5 file_from hd1 species

# Run and collect trajectory data
run {nsteps} 
